firm-moonlight-463911-t8-a04c2660638d.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/
*.spec

# Environments
scripts/
venv/
.env

# VSCode
.vscode/

#bat
OiHelper.zip
one.bat
RunReleaseAdmin.bat
Start.bat
release.py